*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;


}



header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding:30px 30px;

    

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    background: url('photo1.jpg')no-repeat;
    background-size:cover;
    background-position:center;
    
}


.navigation{
    width: 400px;
    float: right;
    height: 80px;
    margin: auto;
    
}





    







